<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/css/style.css">
    <title>specilities</title>
  </head>
  <body>
      {{> navbar data=Detail}}
    



  


<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-3  py-3">Book Your Therapies👇🏻</h3>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t1.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Vamanan</h4>
                      <p class="card-text text-center"> respiratory system and the sinuses.</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t2.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Virechanam</h4>
                      <p class="card-text text-center"> Digestive system, Spleen, Liver, Spleenent.</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t3.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Nasyam</h4>
                      <p class="card-text text-center">The nose, vital organs above the neck</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t4.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Snehavasthy</h4>
                      <p class="card-text text-center"> Overall digestive system</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t5.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Navarakizhi</h4>
                      <p class="card-text text-center">Bundle massage with medicated rice.</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t6.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Tharpanam</h4>
                      <p class="card-text text-center">n order to carry out this therapy</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t7.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Thalapothichil</h4>
                      <p class="card-text text-center"> to make the head and scalp more receptive to the treatment.</p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t8.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Podikizhy</h4>
                      <p class="card-text text-center">Once the type of herbs are chosen </p>
                      <div class="text-center">
                      <a href="#!" class="btn btn-primary ">Book Now</a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="/static/images/t9.jpg">
                    <div class="card-body">
                      <h4 class="card-title text-center">Ksheeradhara</h4>
                      <p class="card-text text-center">With supporting text below as a natural</p>
                      <div class="text-center ">
                      <a href="#!" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{{!-- ////////////////////////////////////////////BANNER SECTION//////////////////////////////////////////////////////////////////////////// --}}

<section class="banner2_section py-7">
  <div class="container">
    <div class="row">

<div class="col-md-6 py-5 text-center">
  {{!-- Left Side --}}
  <h2>
    We Work For Your Better Health<br/>....Join Our Yoga Classes
  </h2>
  <p>Yoga brings together physical and mental disciplines to achieve a peaceful <br/>body and mind; it helps manage stress and anxiety and keeps you relaxing.<br/> It also helps in increasing flexibility, muscle strength and body tone.</p>
   <button class="btn btn-primary">Join Now</button>


</div>
<div class="col-md-6 text-center">
  {{!-- Rigth Side --}}

  <img src="/static/images/pic7.png" style="height:350px" alt="">
  

</div>

    </div>
  </div>

</section>



{{!--//////////////////////////////// Banner 3 --}}



<section class="banner2_section py-7">
  <div class="container">
    <div class="row">


      <div class="col-md-6 text-center">
  {{!-- Rigth Side --}}

  <img src="/static/images/pic8.png" style="height:350px" alt="">
  

</div>

<div class="col-md-6 py-5 text-center">
  {{!-- Left Side --}}
  <h2>
    Watch The Video <br/> RegardingOur <br/> And Company
  </h2>
  <p>AurDoc Organization Provide The Onlice Consult With Doctors ,<br/> Provide Pure Organic Products Which Help To Maintain Your Health,<br/> Provide Daily Basis Yoga Classes<br/> Watch Video👇🏻</p>
   <button class="btn btn-primary">Watch Now</button>


</div>


    </div>
  </div>

</section>



<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>     
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
























    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>