<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
  </head>
  <body>
      {{> navbar data=Detail}}




      <div class="container-fluid pb-video-container ">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Yoga Classes</h3>
        <div class="row pb-row">
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">Claydee - Alena</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">Manuel Riva - Mhm Mhm</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame " width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">Clean Bandit - Rockabye</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">Burak Yeter - Tuesday</label>
            </div>
        </div>
        <div class="row pb-row">
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">F.O. and Peeva - Lichnata</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">Machine Gun - Bad Things</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/c8hjhRqIwHE" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">INNA - Say it with your body</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://youtu.be/glOd-4t_wmo" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center des_col">INNA - Gimme Gimme</label>
            </div>
        </div>
    </div>
</div>
    




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>